html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #1D2228;
    color: #E1E2E2;
}
.form-control {
    background-color: #E1E2E2;
}
td, th {
    color: #E1E2E2;
}
.list-group-item {
    background-color: #1D2228;
    
    width: 100%;
    height: 40px;
}
.navbar {
    background-color: #1D2228;
    color: #1D2228;
    height:65px;
    padding: 12px;
      
}
.logo {
    width:45px;
    height:40px;
}
.banner{
    width:100%;
    position:absolute;
}
.Title{
 
    position: absolute;
    color:black;
}
.login {
    position:absolute;
    right:0px;
   
    
}
.viewcard {
    margin-left:30px;
}

.quotes {
    margin-top: 28%;
   
}

.profile{
    width:90px;
    height:130px;
}

.quote {
    background-color: #E1E2E2;
    color: #1D2228;
     padding: 15px;
}

.loginscreen {
    margin-left: 28%;
    width:1800px;
}

.form-label {
    color:black;
}
.icon {
    margin-left: 290px;
   
}
.lbl {
    margin-left: 38%;
}
.tables {
    width: 40%;
    margin-left: 28%;
    background-color: white;
    padding: 20px;
    border-style:solid;
    
}

.resume {
    position: absolute;
    margin-left: 80px;
    margin-top:17px;
  
}
.add-delete {
   margin-left:20px;
   width:10%;
}

.namecard {
    margin-left:25px;
    width: 450px;
    height: 320px;
}

.search {
    margin-top:10px;
    width:42px;
    height:32px;
    padding-right:9px;
}
.lead {
    margin-right:10px;
    padding-left:5px;
}
.srch {
  width:60%;
  margin-bottom:10px;
  margin-left:150px;
}
.srchbutton {
    margin-left: 20px;
    width: 75px;
    margin-bottom: 10px;
}