@{
    ViewData["Title"] = "Home Page";
}

<img src="~/images/sacramento.jpg" class="banner"/>
<div class="Title mx-auto">
    <b class="display-5"><b>Simple Recruitment Dashboard:</b> <br />Organize Your Candidate Pipeline</b>
    
</div> 

<div class="card bg-body w-25 mx-auto login">
    <div class="card-header">Sign in</div><div class="card-body">
        <input type="text" class="form-control" placeholder="Username / Email"/><br /><input type="text" class="form-control" placeholder="Password"/><br />
        <button class="btn btn-outline-warning w-100" type="submit">Login</button>
    </div>
</div>

