@{
    ViewData["Title"] = "Home Page";
}

<img src="~/images/sacramento.jpg" class="banner"/>
<div class="Title mx-auto">
    <b class="display-5 mx-auto">Organize Your Candidate Pipeline</b>
    
    
</div> 

<div class="card bg-body bg-opacity-75 w-25 mx-auto login m-3">
    <div class="card-header display-5">Welcome!</div><div class="card-body">
        Welcome to the Recruitment Dashboard, where we help you organize your candidate pipeline and simplify your hiring process. With our user-friendly interface, you can easily manage candidate applications, track their progress, and collaborate with your hiring team. Sign up now and take your recruitment process to the next level.
    </div> <div class="card-footer">
        <a class="btn btn-outline-warning w-100" id="register" asp-area="Identity" asp-page="/Account/Register">Sign Up</a>
    </div>
</div>

<br><br><br>
<div class="row quotes">
    <div class="col-4">
<div class="card quote">

                   <section id="testimonials">

                <p>"I was struggling to keep track of all the applications coming in for my job posting. Then I found the Recruitment Dashboard and everything changed. It's easy to use and has saved me so much time!"</p>
                        <img src="images/profile.jpg" class="rounded-circle profile">
                        <em>Sarah, California</em>



                            </section>
</div>
    </div>
    <div class="col-4">
        <div class="card quote">
            <section id="testimonials">

                <p>"Recruitment has never been easier! Thanks to the Recruitment Tracker, we were able to streamline our hiring process and find the perfect candidate for our company in record time."</p>
                <img src="images/profile2.jpg" class="rounded-circle profile">
                <em>John, New York</em>

               

            </section>
        </div>
    </div>
    <div class="col-4">
        <div class="card quote">
                        <section id="testimonials">

                <p>"The Recruitment Management System is a game changer. It has made the entire hiring process more efficient and effective. I highly recommend it to any business looking to streamline their recruitment efforts."</p>
                <img src="images/profile3.jpg" class="rounded-circle profile">
                <em>Jessica, Detroit</em>



            </section>
        </div>
    </div>
</div>